.App {
  text-align: center;
  font-family: 'Exo', sans-serif;
}

p {
  font-size: 2em;
}

button {
  font-family: 'Exo', sans-serif;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 1em;
  padding: 2px 14px 2px;
  background: #ffffff;
  height: 32px;
}

.current-temperature {
  font-size: 4em;
  line-height: .5;
}

.wi {
  font-size: 3em;
}

.App-header {
  background-color: #507381;
  height: auto;
  padding: 20px;
  color: white;
}

.App-header h1 {
  font-size: 3em;
}

.App-header-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  font-size: 80px;
  color: yellow;
}

.App-logo:before {
  width: 80px;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.details-wrapper {
  padding: 2em 0;
}

.current-temp {
  border-bottom: 1px solid #507381;
  margin: 0 10em;
  padding: 2em;
}

.forecast-card {
  flex-grow: 1;
  flex-basis: 0;
}

.forecast-card p {
  line-height: .75;
  font-size: 1em;
}

.five-day-forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10em;
  border-bottom: 1px solid #507381;
}

.hourly-forecast {
  margin-top: 2em;
}

.hourly-card {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #507381;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2em;
}


.hourly-card-time-icon h2 {
  margin-top: 0;
}

.hourly-card-time-icon,
.hourly-card-temp,
.hourly-card-data {
  margin: 0 1em;
  flex-basis: 33%;
}

.hourly-card p {
  font-size: 1em;
}

.hourly-card-temp {
  font-size: 3em;
}

footer {
  background: #507381;
  min-height: 300px;
  padding: 2em;
  margin-top: 2em;
}

@media screen and (max-width: 1024px) {

  .five-day-forecast,
  .current-temp {
    margin-top: 4em;
  }
}

@media screen and (max-width: 768px) {
  .App-header {
    padding-top: 30px;
  }

  .App-title {
    margin-bottom: 0;
  }
  .five-day-forecast {
    flex-direction: column;
    margin: 0 2em;
  }

  .forecast-card {
    width: 100%;
  }

  .current-temperature {
    margin: 0.75em;
  }

  .current-temp,
  .forecast-card {
    border-bottom: 1px solid #507381;
    margin: 0 2em;
  }

  .hourly-card {
    width: 95%;
    padding: 0;
    border-left: none;
    border-right: none;
    flex-wrap: wrap;

  }

  .hourly-card:first-of-type {
    border-top: none;
  }

  .hourly-card-time-icon,
  .hourly-card-temp {
    margin: 0;
  }

  .hourly-card-time-icon {
    flex-basis: 60%;
  }

  .hourl-card-temp {
    flex-basis: 40%;
  }

  .hourly-card-data {
    height: 0;
    display: none;
  }

  .forecast-card:last-child {
    border-bottom: none;
  }
}
